@{
    ViewData["Title"] = "Панель администратора";
    Layout = "_Layout";
}

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary bg-warning"><a href="/admin/services" class="nav-link active text-black">Сервисы</a></button>
  <button type="button" class="btn btn-secondary bg-warning"><a href="/admin/tasks" class="nav-link active text-black">Услуги</a></button>
</div>
