@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";   
}
<h1 class="text-center">Информационная система по установке и обслуживанию газового оборудования - интернет ресурс предприятия "ИСПУГО".</h1>
<h1 class="text-center">Ознакомиться и заказать услугу легко! Достаточно выбрать сервис и заказать её.</h1>