@using Common.Models
@{
    ViewData["Title"] = "Сервисы";
    Layout = "_Layout";
}
@model IEnumerable<Service>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        @foreach (var service in Model)
                        {
                            <tr>
                                <td class="bg-warning">@service.Name</td>
                                @foreach (var task in service.Tasks)
                                {
                                    <tr>
                                        <td class="bg-white">Название: @task.Name</td>
                                        <td class="bg-white">Цена: @task.Price р.</td>
                                        <td class="bg-white"><a href="/order/add?Id=@service.Id">Заказать</a></td>
                                    </tr>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
